/* Css Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
html{
    overflow-y: hidden;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

img{
    width: 100%;
    display: block;
}

.title-content{
    font-size: 75px;
    color: yellow;
    text-align: center;
}

/*Utils*/

.container{
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
}

.full-page{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
}

.title-content{
    font-size: 75px;
    color: yellow;
    text-align: center;
}

#blue-shoes{
    background-color: red;
}

#white-shoes{
    background-color: green;
}

#green-shoes{
    background-color: yellow;
}

h1.title-green{
    color: green;
}

/*MENU*/
.menu{
    position: fixed;
    top: 0;
    right: 0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 15px 10px;
    gap: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
    line-height: 40px;
}