/* Css Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

/*Utils*/

.container{
    border: 5px dashed black;
    max-width: 900px;
    margin: 0 auto;
}

.full-page{
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
}

.content{
    color: yellow;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

.img{
    width: 100%;
}

